<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'></title>
        <link rel='stylesheet' href='index.css'/>
        <link rel='icon' type='image/svg+xml' href='favicon.svg'/>
        <script type='module' src='contacts.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main class='otherpage'>
            <aside><42 b 24></aside>
            <section>
                <h2>Contacts</h2>
                <div class='nml42'><42 contacts 24></div>
            </section>
            <aside><42 a 24></aside>
        </main>
        <footer>
            <article id="cpryear"></article>
        </footer>
    </body>
</html>